body {
    background-color: #A1D6CB;
    font-family: sans-serif;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    background-color: #FFF574;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
      
}


.city {
    color: #354642;
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
    border: none;
}

h2 {
    margin: 0 0 5px;
    font-size: 28px;
}

.date {
    opacity: 0.7;
}

.time {
    font-size: 36px;
    font-weight: bold;
}

.time small {
    font-size: 18px;
    vertical-align: middle;
    line-height: 36px;
}

select {
    background-color: #fdf9bd;
    color: #354642;
    display: block;
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px;
}

h1 {
    color: #354642;
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
}

footer {
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}